# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!*.yaml
!*.json
!*.atom
!*.rss
!*.xml
!*.rdf

!.github/ISSUE_TEMPLATE/*
!.github/workflows/*.yml
!.github/CODEOWNERS
!.github/*.yml
!.github/*.md

!README.md
!LICENSE
!.devcontainer/*

# ...even if they are in subdirectories
!*/
