# Ignore everything
*

# But not these files...
!/.gitignore

!.harper-dictionary.txt

!*.go
!go.sum
!go.mod

!*.yaml
!*.json
!*.atom
!*.rss
!*.xml
!*.rdf
!*.md

!.github/ISSUE_TEMPLATE/*
!.github/workflows/*.yml
!.github/CODEOWNERS
!.github/*.yml
!.github/*.md

!README.md
!LICENSE
!SECURITY.md
!assets/*
!.devcontainer/*
!test/setup-feedvalidator-submodule.sh
!test/feedvalidator
# ...even if they are in subdirectories
!*/
